@font-face {
    font-family: circular-bold;
    src: url("../spotifyFont/GothamBold.ttf");
}

@font-face {
    font-family: circular-light;
    src: url("../spotifyFont/GothamLight.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: circular-bold;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    height: 100%;
}

aside {
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #0c0c0c;
    display: block;
    margin: 0;
    transition: 0.5s;
}

.sidebar-menu {
    margin-top: 50px;
}

.sidebar-menu a {
    color: #bebebe;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar-menu a.sidebar-menu-selected {
    color: #ffffff;
    background-color: #505050;
    border-radius: 5px;
}

.sidebar-menu svg {
    margin: 0 20px;
}

.sidebar-logo img {
    max-width: 250px;
    width: 100%;
}

.sidebar-menu a.sidebar-menu-selecionado {
    color: #ffffff;
    background-color: #505050;
    border-radius: 5px;
}

.sidebar-menu-item {
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar-menu-item-component {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: #ffffff;
    margin: 8px;
}

.sidebar-menu-item span {
    color: #bebebe;
    font-size: 16px;
    padding: 0 10px;
}

.sidebar-menu-item img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.sidebar-playlists {
    padding: 20px 0;
    border-top: 1px solid #282828;
}

.sidebar-playlists a {
    display: block;
    color: #bebebe;
    text-decoration: none;
}

.sidebar-playlists a:hover {
    color: #ffffff;
}

header {
    height: calc(270px + 80px);
    width: calc(100% - 250px);
    left: 250px;
    top: 0;
    float: left;
    transition: 0.5s;
}

#top {
    background-color: #505050;
    height: calc(100% - 80px);
    z-index: 98;
    width: 100%;
    color: #fff;
    padding: 10px;
}

#top-image {
    float: left;
    max-height: 250px;
    max-width: 250px;
    padding: 15px;
}

#t-img {
    width: 100%;
    height: 100%;
}

#top-data {
    float: left;
}

#title {
    font-size: 64px;
    padding: 30px 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#description {
    font-size: 16px;
    font-family: circular-light;
    color: #bebebe;
    margin-top: 20px;
    padding: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#songCount {
    font-size: 16px;
    padding: 7px;
}

#sub-top {
    background-color: #424242;
    height: 80px;
    z-index: 98;
    top: 250px;
    width: 100%;
    color: #fff;
    padding: 10px;
}

#play,
#delete,
#edit {
    margin: 15px;
    font-size: 25px;
    display: inline-block;
}

#play,
#delete,
#edit:hover {
    cursor: pointer;
}

.box {
    display: none;
    position: fixed;
    z-index: 99;
    left: calc((100% - 500px) / 2);
    background-color: #1e1e1e;
    width: 500px;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: #0c0c0c 0px 5px 40px;
}

.boxTitle {
    font-size: 26px;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.options-buttons {
    text-align: center;
}

.options-buttons button {
    background-color: #505050;
    border: 1px solid #999999;
    color: #ffffff;
    font-family: circular-bold;
    font-size: 20px;
    width: 30%;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}

.options-buttons button:hover {
    cursor: pointer;
    background-color: #999999;
}

.message {
    width: 80%;
    text-align: center;
    font-size: 16px;
    margin: 2% 10%;
}

#editPlaylistBox {
    top: calc((100vh - 400px) / 2);
    height: 400px;
}

#edit-image {
    float: left;
    width: 50%;
    height: 65%;
    padding: 5px;
}

#edit-image button {
    height: 200px;
    width: 200px;
    display: block;
    border: none;
    background-color: transparent;
}

#edit-image button:hover {
    cursor: pointer;
}

#img-button {
    width: 200px;
    height: 200px;
}

#fileReader {
    display: none;
}

#edit-data {
    float: left;
    padding: 5px;
    width: 50%;
    height: 65%;
}

#edit-data input {
    width: 100%;
    height: 50px;
    background-color: #424242;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 25px;
    border: 1px none;
    padding: 7px;
}

#edit-data textarea {
    width: 100%;
    height: calc(200px - 75px);
    background-color: #424242;
    color: #ffffff;
    font-family: circular-light;
    font-size: 18px;
    border: none;
    padding: 7px;
    resize: none;
}

#deletePlaylistBox {
    top: calc((100vh - 200px) / 2);
    height: 200px;
}

#removeSongBox {
    top: calc((100vh - 200px) / 2);
    height: 200px;
}

main {
    width: calc(100% - 250px);
    background-color: #1e1e1e;
    float: left;
    height: calc(100% - 270px - 80px);
    overflow-y: auto;
    transition: 0.5s;
}

#songs {
    padding: 10px 30px;
    color: #ffffff;
    font-size: 20px;
}

.song {
    width: 92%;
    height: 80px;
    margin: 30px;
    border-radius: 10px;
    background-color: #3c3c3c;
}

.s-image {
    float: left;
    height: 70px;
    width: 70px;
    margin: 5px;
}

.s-image>img {
    width: 100%;
}

.s-data {
    width: calc(100% - 250px);
    float: left;
}

.s-data h1 {
    color: white;
    font-size: 14px;
}

.s-data h2 {
    color: #999999;
    font-size: 12px;
}

.s-data h1,
.s-data h2 {
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 35px);
}

.s-buttons {
    float: left;
    margin: 25px;
}

.s-buttons button {
    background-color: transparent;
    border: none;
    color: white;
    margin-inline: 20px;
}

.s-buttons button:hover {
    cursor: pointer;
}

.player {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    background-color: black;
    padding: 15px 25px;
}

.player-artist {
    width: 30%;
    height: auto;
}

.pa-image {
    width: 90px;
    height: 90px;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}

.pa-image img {
    width: 100%;
}

.pa-data {
    width: calc(100% - 100px);
    float: left;
}

.pa-data>h1 {
    color: #ffffff;
    font-size: 16px;
}

.pa-data>h2 {
    color: #999999;
    font-size: 14px;
}

.pa-data>h1,
.pa-data>h2 {
    padding: 5px;
    max-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
}

.player-control {
    width: 70%;
    text-align: center;
    float: left;
}

.player-control-buttons {
    width: 70%;
    float: left;
}

.player-control-buttons a {
    color: #fff;
    font-size: 30px;
    margin-inline: 20px;
    display: inline;
}

.player-control-buttons a:hover {
    cursor: pointer;
}

.player-control-progress {
    width: 100%;
    position: relative;
    border-radius: 8px;
    display: flex;
    top: 12px;
}

.music-progress-bar {
    width: 100%;
}

.current-time {
    color: white;
    font-size: 12px;
    right: calc(100% - 50px);
    position: absolute;
}

.duration {
    color: #ffffff;
    font-size: 12px;
    left: calc(100% - 50px);
    position: absolute;
}

.player-control-volume {
    width: 25%;
    float: left;
    padding: 20px;
}

.volume-slider {
    width: calc(100% - 80px);
    position: relative;
    float: right;
}

#volumeBtn {
    color: #fff;
    font-size: 30px;
    margin-inline: 20px;
}

#volumeBtn:hover {
    cursor: pointer;
}

#close {
    color: #ffffff;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
}

#close:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12.5px;
}

::-webkit-scrollbar-track {
    background-color: lightgray;
}

::-webkit-scrollbar-thumb {
    background-color: #6952C8;
}

::-webkit-scrollbar-thumb:hover {
    background: #2f178f;
}

audio {
    /* display: none; */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
    opacity: 0;
}

audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-volume-slider {
    display: none !important;
}

audio::-webkit-media-controls-volume-control-container.closed {
    display: none !important;
}

audio::-webkit-media-controls-volume-control-container {
    display: none !important;
}

@media screen and (max-width: 1700px) {
    .main-col {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    .main-col {
        width: 48%;
        margin-right: 2%;
    }
}
