<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheMusicProject - Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/signup-style.css" type='text/css'>
    <link rel="icon" href="/imgs/icon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <div class="form-wrapper">
            <div class="logo-container">
                <img src="/imgs/icon.ico" alt="Logo">
                <p>TheMusicProject</p>
            </div>
            <h3>Faça seu Cadastro</h3>
            <form>
                <span id="mensagemErroNome" class="mensagemErro"></span>
                <div class="input-box">
                    <div class="icon-container">
                        <img src="/imgs/user.png" alt="Person Icon">
                    </div>
                    <div class="input-container">
                        <input type="text" name="name" id="name" placeholder="Insira seu nome completo" required="true">
                    </div>
                </div>

                <span id="mensagemErroEmail" class="mensagemErro"></span>
                <div class="input-box">
                    <div class="icon-container">
                        <img src="/imgs/email-icon.png" alt="Email Icon">
                    </div>
                    <div class="input-container">
                        <input type="email" name="email" id="email" placeholder="Insira seu endereço de email"
                            required="true">
                    </div>
                </div>

                <span id="mensagemErroSenha" class="mensagemErro"></span>
                <div class="input-box">
                    <div class="icon-container">
                        <img src="/imgs/password-icon.png" alt="Password Icon">
                    </div>
                    <div class="input-container">
                        <input type="password" name="password" id="password" placeholder="Insira sua senha"
                            required="true">
                    </div>
                </div>

                <span id="mensagemErroConfirmarSenha" class="mensagemErro"></span>
                <div class="input-box">
                    <div class="icon-container">
                        <img src="/imgs/key-icon.png" alt="Key Icon">
                    </div>
                    <div class="input-container">
                        <input type="password" name="confpassword" id="confpassword" placeholder="Confirme sua senha"
                            required="true">
                    </div>
                </div>

                <input type="submit" value="Concluir Cadastro" id="botaoCadastro">
            </form>

            <p><a href="/authentication">Caso já tenha uma conta, faça login clicando aqui</a>!</p>
        </div>
        <div class="img-wrapper">
            <img src="/imgs/signup-img.svg" alt="Tela de Login">
        </div>
    </div>
    <script src="/scripts/signup-script.js"></script>
</body>

</html>