@font-face {
    font-family: circular-bold;
    src: url("spotifyFont/GothamBold.ttf");
}

@font-face {
    font-family: circular-light;
    src: url("spotifyFont/GothamLight.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: circular-bold;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

aside {
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    background-color: #1d1d1d;
    display: block;
}

.sidebar-wrapper {
    padding-bottom: 200px;
}

.sidebar-menu {
    margin-top: 50px;
}

.sidebar-menu a {
    color: rgb(190, 190, 190);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar-menu a.sidebar-menu-selected {
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}

.sidebar-menu svg {
    margin: 0 20px;
}

.sidebar-logo img {
    max-width: 250px;
    width: 100%;
}

.sidebar-menu a.sidebar-menu-selecionado {
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}

.sidebar-menu-item {
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar-menu-item-component {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: white;
    margin: 8px;
}

.sidebar-menu-item span {
    color: rgb(190, 190, 190);
    font-size: 16px;
    padding: 0 10px;
}

.sidebar-menu-item img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.sidebar-playlists {
    padding: 20px 0;
    border-top: 1px solid rgb(40, 40, 40);
}

.sidebar-playlists a {
    display: block;
    color: rgb(190, 190, 190);
    text-decoration: none;
}

.sidebar-playlists a:hover {
    color: white;
}

main {
    width: calc(100% - 250px);
    background-color: rgb(30, 30, 30);
    height: 100%;
    float: left;
}

.main-wraper {
    padding-bottom: 200px;
}

#top {
    background-color: black;
    position: fixed;
    height: 50px;
    z-index: 98;
    top: 0;
    left: calc(250px);
    width: calc(100% - 250px);
}

#profile {
    display: block;
    position: absolute;
    float: left;
    font-size: 18px;
    top: 14px;
    right: 10px;
    color: white;
    width: 22.5%;
    height: 10%;
}

#profile:hover {
    cursor: pointer;
}

#slider{
    margin-top: 32px;
    height: 100vh;
    object-fit: cover;
}

#slider a{
    position: absolute;
}

#slider a:nth-of-type(1){
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 2s;
    z-index: 20;
    width: calc(100% - 250px);
}

#slider a:nth-of-type(2){
    z-index: 10;
    width: calc(100% - 250px);
}

#slider a:nth-of-type(n+3){
    display: none;
    width: calc(100% - 250px);
}

@keyframes fader {
    from {opacity:1.0;}
    to {opacity:0.0;}
}

.slider-img {
    width: 100%;
    display: block;
}

#img1{
    z-index: 4;
}

#img2{
    z-index: 3;
}

#img3{
    z-index: 2;
}

#img4{
    z-index: 1;
}

 ::-webkit-scrollbar {
    width: 12.5px;
}

 ::-webkit-scrollbar-track {
    background-color: lightgray;
}

 ::-webkit-scrollbar-thumb {
    background-color: #6952C8;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #2f178f;
}

@media screen and (max-width: 1700px) {
    .main-col {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
    .main-col {
        width: 48%;
        margin-right: 2%;
    }
}
