@font-face {
    font-family: circular-bold;
    src: url("../spotifyFont/GothamBold.ttf");
}

@font-face {
    font-family: circular-light;
    src: url("../spotifyFont/GothamLight.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: circular-bold;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    height: 100%;
}

aside {
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #0c0c0c;
    display: block;
    margin: 0;
}

.sidebar-menu {
    margin-top: 50px;
}

.sidebar-menu a {
    color: #bebebe;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar-menu a.sidebar-menu-selected {
    color: white;
    background-color: #505050;
    border-radius: 5px;
}

.sidebar-menu svg {
    margin: 0 20px;
}

.sidebar-logo img {
    max-width: 250px;
    width: 100%;
}

.sidebar-menu a.sidebar-menu-selecionado {
    color: white;
    background-color: #505050;
    border-radius: 5px;
}

.sidebar-menu-item {
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar-menu-item-component {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: white;
    margin: 8px;
}

.sidebar-menu-item span {
    color: #bfbfbf;
    font-size: 16px;
    padding: 0 10px;
}

.sidebar-menu-item img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.sidebar-playlists {
    padding: 20px 0;
    border-top: 1px solid #282828;
}

.sidebar-playlists a {
    display: block;
    color: #bebebe;
    text-decoration: none;
}

.sidebar-playlists a:hover {
    color: white;
}

main {
    width: calc(100% - 250px);
    background-color: #1e1e1e;
    height: calc(100% - 75px);
    float: left;
    padding: 15px 50px;
    overflow-y: auto;
    margin-top: 75px;
}

#top {
    background-color: black;
    position: fixed;
    height: 75px;
    z-index: 98;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
}

#searching-bar {
    float: left;
    left: 40px;
    width: 60%;
    height: 40px;
    border: 0px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #111111;
    margin: 20px;
}

#magnifying-glass {
    float: left;
    z-index: 98;
    width: 32px;
    height: 25px;
    margin-top: 9px;
    margin-left: 10px;
}

input {
    background-color: transparent;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-family: circular-light;
    width: calc(100% - 50px);
    z-index: 99;
    float: left;
}

#search {
    height: 40px;
    width: 70px;
    border-radius: 20px;
    color: white;
    border: none;
    background-color: gray;
    font-family: circular-bold;
    font-size: 16px;
    float: left;
    margin: 20px;
    margin-left: 0px;
}

#search:hover {
    cursor: pointer;
}

#search:active {
    background-color: #1b1b1b;
}

#bar_button {
    width: 90%;
    height: 40px;
}

#results {
    margin: 30px;
    color: white;
    font-size: 20px;
}

.container-animation {
    margin-top: 35vh;
    margin-left: 50%;
    transform: translate(-35%);
    display: none;
    gap: 40px;
}

.dot {
    background: #fff;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #fff;
    animation-delay: 0s;
    animation: load 2s ease infinite;
}

.dot:nth-child(2) {
    animation-delay: 0.15s;
}

.dot:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes load {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

#playlist-select {
    display: none;
    background-color: #606060;
    color: white;
    width: 20%;
    position: fixed;
    left: 57.5vw;
    top: 40vh;
    z-index: 99;
    height: 250px;
    overflow-y: auto;
    opacity: 0;
    transition: 0.5s;
}

#division {
    height: 1.5px;
    width: 100%;
    background-color: #afafaf
}

.playlist,
#playlist-select p {
    padding: 10px;
    font-family: circular-light;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playlist:hover {
    background-color: #282828;
    cursor: pointer;
}

#playlist-select button {
    position: absolute;
    border: none;
    background-color: transparent;
    color: white;
    top: 10px;
    right: 10px;
}

#playlist-select button:hover {
    cursor: pointer;
}

.song {
    width: 90%;
    height: 80px;
    margin: 30px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #3c3c3c;
}

.s-image {
    float: left;
    height: 70px;
    width: 70px;
    margin: 5px;
}

.s-image>img {
    width: 100%;
}

.s-data {
    width: calc(100% - 200px);
    float: left;
}

.s-data h1 {
    color: white;
    font-size: 14px;
}

.s-data h2 {
    color: #999999;
    font-size: 12px;
}

.s-data h1,
.s-data h2 {
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 35px);
}

.s-buttons {
    float: left;
}

.s-buttons button {
    background-color: transparent;
    border: none;
    color: white;
    margin: 10px;
    margin-top: 20px;
}

.s-buttons button:hover {
    cursor: pointer;
}

.player {
    width: 100%;
    height: 125px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    background-color: black;
    padding: 15px 25px;
}

.player-artist {
    width: 30%;
    height: auto;
}

.pa-image {
    width: 90px;
    height: 90px;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}

.pa-image img {
    width: 100%;
}

.pa-data {
    width: calc(100% - 100px);
    float: left;
}

.pa-data>h1 {
    color: white;
    font-size: 16px;
}

.pa-data>h2 {
    color: #999999;
    font-size: 14px;
}

.pa-data>h1,
.pa-data>h2 {
    padding: 5px;
    max-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
}

.player-control {
    width: 70%;
    text-align: center;
    float: left;
}

.player-control-buttons {
    width: 70%;
    float: left;
}

.player-control-buttons a {
    color: #fff;
    font-size: 30px;
    margin-inline: 20px;
    display: inline;
}

.player-control-buttons a:hover {
    cursor: pointer;
}

.player-control-progress {
    width: 100%;
    position: relative;
    border-radius: 8px;
    display: flex;
    top: 12px;
}

.music-progress-bar {
    width: 100%;
}

.current-time {
    color: white;
    font-size: 12px;
    right: calc(100% - 50px);
    position: absolute;
}

.duration {
    color: white;
    font-size: 12px;
    left: calc(100% - 50px);
    position: absolute;
}

.player-control-volume {
    width: 25%;
    float: left;
    padding: 20px;
    margin-left: 3%;
}

.volume-slider {
    width: calc(100% - 80px);
    position: relative;
    float: right;
}

#volumeBtn {
    color: #fff;
    font-size: 30px;
    margin-inline: 20px;
}

#volumeBtn:hover {
    cursor: pointer;
}

#closeSong {
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
}

#closeSong:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12.5px;
}

::-webkit-scrollbar-track {
    background-color: lightgray;
}

::-webkit-scrollbar-thumb {
    background-color: #6952C8;
}

::-webkit-scrollbar-thumb:hover {
    background: #2f178f;
}

audio {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
    opacity: 0;
}

audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-volume-slider {
    display: none !important;
}

audio::-webkit-media-controls-volume-control-container.closed {
    display: none !important;
}

audio::-webkit-media-controls-volume-control-container {
    display: none !important;
}

@media screen and (max-width: 768px) {
    main {
        padding: 15px 15px;
    }
}