@font-face {
    font-family: circular-bold;
    src: url("spotifyFont/GothamBold.ttf");
}

@font-face {
    font-family: circular-light;
    src: url("spotifyFont/GothamLight.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: circular-bold;
}

html,
body {
    height: 100%;
}

aside {
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #0c0c0c;
    display: block;
    margin: 0;
}

.sidebar-menu {
    margin-top: 50px;
}

.sidebar-menu a {
    color: rgb(190, 190, 190);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar-menu a.sidebar-menu-selected {
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}

.sidebar-menu svg {
    margin: 0 20px;
}

.sidebar-logo img {
    max-width: 250px;
    width: 100%;
}

.sidebar-menu a.sidebar-menu-selecionado {
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}

.sidebar-menu-item {
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar-menu-item-component {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: white;
    margin: 8px;
}

.sidebar-menu-item span {
    color: rgb(190, 190, 190);
    font-size: 16px;
    padding: 0 10px;
}

.sidebar-menu-item img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.sidebar-playlists {
    padding: 20px 0;
    border-top: 1px solid rgb(40, 40, 40);
}

.sidebar-playlists a {
    display: block;
    color: rgb(190, 190, 190);
    text-decoration: none;
}

.sidebar-playlists a:hover {
    color: white;
}

main {
    width: calc(100% - 250px);
    background-color: rgb(30, 30, 30);
    height: 100%;
    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}

#top {
    background-color: black;
    position: fixed;
    height: 75px;
    z-index: 98;
    top: 0;
    left: calc(250px);
    width: calc(100% - 250px);
}

#bar-button {
    float: left;
}

#searching-bar {
    float: left;
    left: 40px;
    width: 60%;
    height: 40px;
    border: 0px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(17, 17, 17);
    margin: 20px;
    /* margin-right: 10px; */
}

#magnifying-glass {
    float: left;
    z-index: 98;
    width: 32px;
    height: 25px;
    margin-top: 9px;
    margin-left: 10px;
}

input {
    background-color: transparent;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-family: circular-light;
    width: calc(100% - 50px);
    z-index: 99;
    float: left;
}

#search {
    height: 40px;
    width: 70px;
    border-radius: 20px;
    color: white;
    border: none;
    background-color: gray;
    font-family: circular-bold;
    font-size: 16px;
    float: left;
    margin: 20px;
    margin-left: 0px;
}

#search:hover {
    cursor: pointer;
}

#search:active {
    background-color: rgb(27, 27, 27);
}

#bar_button {
    width: 90%;
    height: 40px;
}

#profile {
    display: block;
    position: absolute;
    float: left;
    font-size: 18px;
    top: 18px;
    right: 10px;
    color: white;
    width: 22.5%;
    height: 10%;
    padding: 20px 0;
}

#profile:hover {
    cursor: pointer;
}

#results {
    margin: 30px;
    margin-top: 120px;
    color: white;
    font-size: 20px;
}

.song {
    width: 90%;
    height: 80px;
    margin: 30px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
}

.song-empty {
    width: 90%;
    height: 80px;
}

.s-image {
    float: left;
    height: 70px;
    width: 70px;
    margin: 5px;
}

.s-image>img {
    width: 100%;
}

.s-data {
    width: calc(100% - 200px);
    float: left;
}

.s-data h1 {
    color: white;
    font-size: 14px;
    margin: 10px;
}

.s-data h2 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    margin: 10px;
}

.s-buttons {
    float: left;
}

.s-buttons button {
    background-color: transparent;
    border: none;
    color: white;
    margin: 10px;
    margin-top: 20px;
}

.s-buttons button:hover {
    cursor: pointer;
}

.player {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: black;
    padding: 15px 25px;
}

.player-artist {
    width: 30%;
    height: auto;
}

#image {
    display: none;
}

.pa-image {
    width: 90px;
    height: 90px;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}

.pa-image img {
    width: 100%;
}

.pa-data {
    width: calc(100% - 100px);
    float: left;
}

.pa-data h1 {
    color: white;
    font-size: 16px;
    padding: 5px;
    max-height: 30px;
}

.pa-data h2 {
    color: rgb(153, 153, 153);
    font-size: 14px;
    padding: 5px;
    max-height: 30px;
}

.player-control {
    width: 70%;
    text-align: center;
    float: left;
}

.player-control-buttons {
    width: 70%;
    float: left;
}

.player-control-buttons a {
    color: rgb(80, 55, 55);
    margin: 8px 15px;
    font-size: 18px;
}

.player-control-progress {
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 8px;
    display: flex;
}

.music-progress-bar{
    width: 100%;
}

.current-time{
    color: white;
    font-size: 12px;
    float: left;
    position: absolute;
}

.duration {
    color: white;
    font-size: 12px;
    float: right;
    position: absolute;
}

.player-control-volume {
    width: 25%;
    float: left;
}

.volume-slider {
    width: calc(100% - 80px);
    position: relative;
    float: right;
}

::-webkit-scrollbar {
    width: 12.5px;
}

::-webkit-scrollbar-track {
    background-color: lightgray;
}

::-webkit-scrollbar-thumb {
    background-color: #6952C8;
}

::-webkit-scrollbar-thumb:hover {
    background: #2f178f;
}

audio {
    width: 200px;
    height: 45px;
    margin: 20px;
}

audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-volume-slider {
    display: none !important;
}

audio::-webkit-media-controls-volume-control-container.closed {
    display: none !important;
}

audio::-webkit-media-controls-volume-control-container {
    display: none !important;
}

@media screen and (max-width: 1700px) {
    .main-col {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    .main-col {
        width: 48%;
        margin-right: 2%;
    }
}