@font-face {
    font-family: circular-bold;
    src: url("../fonts/GothamBold.ttf");
}

@font-face {
    font-family: circular-light;
    src: url("../fonts/GothamLight.ttf");
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    min-width: 100vw;
}

.container
{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container .img-wrapper
{
    min-width: 50%;
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .form-wrapper .logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.container .form-wrapper .logo-container img
{
    width: 50px;
}

.container .form-wrapper .logo-container p
{
    margin: 0;
    font-size: 1.3em;
    font-weight: 700;
}

.container .form-wrapper
{
    position: relative;
    min-width: 50%;
    height: 100%;
    background: #1b1b1b;
    color: #fff;
    padding: 60px;
    font-family: circular-bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container .form-wrapper h3
{
    font-size: 2rem;
    margin-bottom: 3rem;
}

.container .form-wrapper form 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container .form-wrapper form .mensagemErro
{
    display: none;
    font-size: 1.2em;
    font-weight: 600;
    color: #ff6868;
    text-align: left;
}

.container .form-wrapper form .input-box 
{
    width: 80%;
    border-radius: 125px;
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;
}

.container .form-wrapper form .input-box  .icon-container 
{
    height: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.container .form-wrapper form .input-box  .icon-container  img 
{
    position: relative;
    object-fit: cover;
    width: 25px;
}

.container .form-wrapper form .input-box  .input-container 
{
    width: 100%;
    height: 100%;
}

.container .form-wrapper form .input-box .input-container input
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.2em;
    height: 100%;
    padding: 0 10px;
}

.container .form-wrapper form .input-box .input-container input::placeholder
{
    font-family: circular-light;
}

.container .form-wrapper form input[type = "submit"]
{
    outline: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    background: #C04CFFDC;
    background: linear-gradient(to right, #C04CFFDC, #bf8dfd);
    padding: 15px 15px;
    box-shadow: 0 0 15px #a646e6;
    width: 50%;
    font-size: 1.1em;
    font-family: circular-light;
    transition: linear 0.1s;
}

.container .form-wrapper form input[type = "submit"]:hover
{
    background: #a749d9dc;
    background: linear-gradient(to right, #a44ad5dc, #a680d5);
    color: rgb(214, 214, 214);
    transform: scale(1.1);
}

.container .form-wrapper p 
{
    margin-top: 50px;
}

.container .form-wrapper p a 
{
    color: #fff;
    text-decoration: none;
}

.container .form-wrapper p a:hover 
{
    text-decoration: underline solid #fff;
}


@media only screen and (max-width: 1250px)
{
    .container .img-wrapper img 
    {
        transform: scale(0.8);
    }

    .container .form-wrapper form input
    {
        font-size: 1em;
    }

    .container .form-wrapper form .input-box .input-container input
    {
        min-width: 70%;
    }
}

@media only screen and (max-width: 995px)
{
    .container .img-wrapper
    {
        display: none;
    }

    .container .form-wrapper
    {
        min-width: 100%;
    }

    .container .form-wrapper form .input-box .input-container input
    {
        min-width: 50%;
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 566px)
{
    .container .form-wrapper form .input-box 
    {
        min-width: 100%;
    }

    .container .form-wrapper h3 
    {
        font-size: 1.5em;
        margin-bottom: 2rem;
    }
}